@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p, table, blockquote, address, pre, iframe, form, figure, dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

/* Lists (enumeration) */
/* ============================================ */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  clear: both;
  /* 1 */
  overflow: visible;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  margin: 0;
  color: inherit;
  /* 2 */
  border-top-width: 1px;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b, strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img, embed, object, iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button, input, optgroup, select, textarea {
  margin: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  vertical-align: middle;
  color: inherit;
  border-radius: 0;
  outline: 0;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button, input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button, select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button, [type=button], [type=reset], [type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled], [type=button][disabled], [type=reset][disabled], [type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  color: inherit;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  /* 1 */
  font: inherit;
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td, th {
  padding: 0;
  vertical-align: top;
}

th {
  font-weight: bold;
  text-align: left;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

:root {
  --main-color: #00aa3a;
}

:root {
  --fontGothic: "Noto Sans JP", sans-serif;
  --fontMincho: "Noto Serif JP", serif;
  --fontEnglish: "Roboto", sans-serif;
}

:root {
  --speed: .4s;
}

body {
  color: #222;
  font-weight: normal;
  font-size: 16px;
  font-family: "Noto Sans JP", "Roboto", "Hiragino Sans", "Meiryo", "Hiragino Kaku Gothic ProN", sans-serif;
  line-height: 1.7;
}

img {
  max-width: 100%;
  height: auto;
}

/* 共通レイアウト */
.wrapper {
  margin: auto;
  max-width: 1440px;
  width: 90%;
}

.hamburger {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 2000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

/* ロゴ位置調整 */
.logo {
  position: absolute;
  top: 15px;
  left: 15px;
}
@media (max-width: 768px) {
  .logo {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px;
  }
}

/* ハンバーガメニューバー */
.bar {
  width: 30px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-origin: center;
          transform-origin: center;
}

/* ハンバーガーメニューバーのバッテンモーション */
.hamburger.active .bar1 {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .bar2 {
  opacity: 0;
}

.hamburger.active .bar3 {
  -webkit-transform: rotate(-45deg) translate(5px, -5px);
          transform: rotate(-45deg) translate(5px, -5px);
}

/* ハンバーガーメニューのアニメーション */
.hamburger_nav {
  position: fixed;
  top: 0;
  right: -450px;
  z-index: 999;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 20px;
  width: 450px;
  height: 100vh;
  background-color: #00aa3a;
  background-image: url(../image/hamburger_mountain\ .png);
  background-position: center bottom;
  background-size: 400px auto;
  background-repeat: no-repeat;
  -webkit-box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
          box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  -webkit-transition: right 0.3s ease;
  transition: right 0.3s ease;
}

.hamburger_nav.active {
  right: 0;
}

.nav_title {
  margin: 100px 56px;
  padding: 0;
  list-style: none;
}

.nav_title li {
  margin-bottom: 50px;
}

.nav_title a {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav_title a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.nav_title a:hover::after,
.nav_title a:focus::after {
  width: 100%;
  /* ホバー or フォーカスで下線にゅっと出る */
}

/* スクロール時の動き */
html {
  scroll-behavior: smooth;
}

/* スクロールバー（左） */
.scroll_indicator {
  position: absolute;
  bottom: 40px;
  left: 30px;
  z-index: 10;
  /* 画像より前に出す */
  text-align: center;
  font-family: sans-serif;
  pointer-events: none;
  /* 必要があれば：クリックを透過 */
}

.scroll_area {
  position: absolute;
  bottom: 40px;
  left: 30px;
  z-index: 100;
  text-align: center;
  font-family: sans-serif;
}

.scroll_text {
  margin-bottom: 10px;
  color: #333;
  letter-spacing: 2px;
  font-size: 12px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.scroll_line {
  position: relative;
  overflow: hidden;
  width: 1px;
  height: 50px;
  background-color: transparent;
}

.scroll_line::before {
  content: "";
  position: absolute;
  top: -100%;
  width: 1px;
  height: 100%;
  background-color: #333;
  -webkit-animation: scrollFlow 2s ease-in-out infinite;
          animation: scrollFlow 2s ease-in-out infinite;
}

@-webkit-keyframes scrollFlow {
  0% {
    top: -50px;
    opacity: 1;
  }
  70% {
    top: 0;
    opacity: 0.5;
  }
  100% {
    top: 50px;
    opacity: 0;
  }
}

@keyframes scrollFlow {
  0% {
    top: -50px;
    opacity: 1;
  }
  70% {
    top: 0;
    opacity: 0.5;
  }
  100% {
    top: 50px;
    opacity: 0;
  }
}
@media (max-width: 768px) {
  .scroll_indicator,
  .scroll_area {
    bottom: 250px;
    z-index: 0;
  }
  .scroll_text {
    /* ← 小さくする */
    letter-spacing: 1px;
    font-size: 10px;
  }
  .scroll_line {
    height: 40px;
    /* ← 線も少し短く */
  }
  .scroll_line::before {
    top: -40px;
    /* ← アニメーション範囲を調整 */
  }
  @-webkit-keyframes scrollFlow {
    0% {
      top: -40px;
      opacity: 1;
    }
    70% {
      top: 0;
      opacity: 0.5;
    }
    100% {
      top: 40px;
      opacity: 0;
    }
  }
  @keyframes scrollFlow {
    0% {
      top: -40px;
      opacity: 1;
    }
    70% {
      top: 0;
      opacity: 0.5;
    }
    100% {
      top: 40px;
      opacity: 0;
    }
  }
}
/* 公式サイトへ */
.co_hp {
  margin: 151px 0;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.co_hp p {
  margin-top: 21px;
}

.co_hp a {
  display: inline-block;
  padding: 30px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.co_hp img {
  display: block;
  margin: 0 auto;
}

/* フッター */
.footer {
  position: relative;
  padding: 20px 0;
  background-color: #00aa3a;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

/* TOPへ戻るボタンのスタイル */
.top_btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: inline-block;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media (max-width: 768px) {
  .top_btn {
    width: 70px;
  }
}
/* ホバー時にぴょこんと跳ねる */
.top_btn:hover {
  -webkit-animation: bounce 0.4s ease;
          animation: bounce 0.4s ease;
}

/* ぴょこんと跳ねるアニメーション */
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/* キービジュアルコンテナ */
.kv {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
@media (max-width: 768px) {
  .kv {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }
}

/* mv画像はロゴの下に */
.mv_bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .mv_bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}

.header_inner {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .header_inner {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header_inner .header_inner > * {
  margin-bottom: 10px;
}

/* タグマラソン */
.tag {
  position: relative;
  overflow: hidden;
  margin-top: 43px;
  width: 100%;
  background: transparent;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .tag {
    margin-top: 16px;
    padding: 5px 0;
  }
}

.tag_list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 40px;
  color: #10790b;
  list-style: none;
  font-weight: bold;
  /* タグ間のスペース */
  font-size: 16px;
  -webkit-animation: marquee 40s linear infinite;
          animation: marquee 40s linear infinite;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tag_list li {
  margin-right: 40px;
  color: #10790b;
  list-style: none;
  font-weight: bold;
  /* タグ間のスペース */
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (max-width: 768px) {
  .tag_list li {
    margin-right: 20px;
    font-size: 14px;
  }
  .tag_list li li {
    margin-right: 20px;
    font-size: 14px;
  }
}

/* 右から左へ流すアニメーション */
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@keyframes marquee {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
/* ブログセクション */
.blog_section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 33px;
  width: 100%;
  background-color: #00aa3a;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
@media (max-width: 768px) {
  .blog_section {
    margin-top: 16px;
  }
}

.blog_img_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: -33px;
  width: 100%;
}

.blog_main_title {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  color: #fff;
  white-space: nowrap;
  font-weight: bold;
  font-size: clamp(24px, 6vw, 60px);
}
@media (max-width: 768px) {
  .blog_main_title {
    margin: 0 auto;
    padding-top: 24px;
    text-align: center;
    font-size: 30px;
  }
}

.blog_img_container img {
  display: block;
  margin-left: auto;
  max-width: 100%;
  height: auto;
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
}

.blog_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
  color: #10790b;
}

.blog_container {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}

.blog_container time {
  margin: 10px 0;
  font-size: 14px;
}

.blog_container a {
  text-decoration: none;
  font-weight: bold;
}

#blog_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 30px;
  width: 100%;
}

#blog_list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

#blog_list > li:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.blog_img img {
  display: block;
  padding: 10px;
  max-width: 300px;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

/* ここからブランドコンセプト */
.concept_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  padding: 60px 20px;
}
@media (max-width: 768px) {
  .concept_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding: 40px 16px;
  }
}

.concept_side_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 151px;
  text-align: center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
@media (max-width: 768px) {
  .concept_side_title {
    margin-top: 40px;
    white-space: nowrap;
    font-size: 16px;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }
}

.concept_en {
  position: absolute;
  left: -30px;
  z-index: 10;
  color: #e9f4ea;
  letter-spacing: 10px;
  font-size: 200px;
  font-family: "Roboto", sans-serif;
  line-height: 1;
}
@media (max-width: 768px) {
  .concept_en {
    position: static;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 80px;
  }
}

.concept_main {
  text-align: center;
}

.concept_section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 152px;
  text-align: center;
}
@media (max-width: 768px) {
  .concept_section {
    margin-top: 80px;
    padding: 0 16px;
  }
}

.concept_title {
  font-size: 40px;
}
@media (max-width: 768px) {
  .concept_title {
    font-size: 24px;
  }
}

.concept_logo {
  margin-top: 60px;
}
@media (max-width: 768px) {
  .concept_logo {
    margin-top: 32px;
    width: 50%;
  }
}

.concept_text {
  margin-top: 80px;
  font-size: 20px;
}
@media (max-width: 768px) {
  .concept_text {
    margin-top: 32px;
    text-align: left;
    font-size: 16px;
  }
}

.concept_columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}
@media (max-width: 768px) {
  .concept_columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    margin-top: 60px;
  }
}

.column_left_title {
  font-weight: bold;
  font-size: 32px;
}
@media (max-width: 768px) {
  .column_left_title {
    font-size: 20px;
  }
}

.concept_columns_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin-top: 80px;
  padding-left: 1.2em;
  list-style-type: disc;
  text-align: left;
}
@media (max-width: 768px) {
  .concept_columns_list {
    margin-top: 32px;
    padding-left: 1em;
    font-size: 14px;
  }
}

.concept_text_container {
  margin-top: 80px;
}
@media (max-width: 768px) {
  .concept_text_container {
    margin-top: 40px;
  }
}

.column_left {
  position: relative;
  padding-bottom: 150px;
}
@media (max-width: 768px) {
  .column_left {
    padding-bottom: 80px;
    width: 100%;
  }
}

.column_left .btn {
  position: absolute;
  right: 10px;
  bottom: 0;
}
@media (max-width: 768px) {
  .column_left .btn {
    position: static;
    display: block;
    margin: 24px auto 0;
    text-align: center;
  }
}

.concept_img {
  margin-top: 205px;
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .concept_img {
    margin-top: 80px;
  }
}

/* コンセプトボタン */
.btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 26px;
  border-radius: 100px;
  background-color: #10790b;
  color: #fff;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
@media (max-width: 768px) {
  .btn {
    padding: 12px 20px;
    font-size: 14px;
  }
}

.btn .arrow {
  display: inline-block;
  margin-left: 8px;
  font-weight: bold;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.btn:hover {
  background-color: #169e0e;
}

.btn:hover .arrow {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}

/* ここからYouTube */
.youtube_section {
  position: relative;
  margin: 0 auto;
  margin-top: 160px;
  padding-top: 45.1388888889%;
  max-width: 1440px;
  width: 100%;
  height: 0;
  /* 背景画像のアスペクト比(高さ÷幅)のパディングで高さ確保 */
  background: url("../image/youtube_back.png") no-repeat center center;
  background-size: 100%;
}
@media (max-width: 768px) {
  .youtube_section {
    margin-top: 80px;
    padding-top: 53.3333333333%;
    background-size: cover;
  }
}

/* 埋め込み動画コンテナ */
.youtube_container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  max-width: 1000px;
  /* 最大幅 */
  width: 90%;
  /* 幅は画面に合わせて縮む */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* 16:9比率で埋め込み */
.youtube_wrapper {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
  /* 16:9 の高さ割合 */
}

.youtube_wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* ボタンのコンテナ */
.youtube_button_container {
  position: relative;
  z-index: 20;
  margin-top: 80px;
  text-align: center;
}

/* ボタンスタイル */
.youtube_btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 26px;
  border-radius: 100px;
  background-color: #10790b;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.youtube_btn .arrow {
  display: inline-block;
  margin-left: 8px;
  font-weight: bold;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.youtube_btn:hover {
  background-color: #169e0e;
}

.youtube_btn:hover .arrow {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}

/* スマホ画面対応 */
@media screen and (max-width: 600px) {
  .youtube_container {
    padding: 10px;
    max-width: 100%;
    width: 95%;
  }
  .youtube_button_container {
    margin-top: 40px;
  }
  .youtube_btn {
    padding: 12px 20px;
    font-size: 14px;
  }
}
/* ここまでYouTube */
/* ここからお菓子たち */
.industry_section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 280px;
  text-align: center;
}

.industry_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.industry_en {
  margin-left: -30px;
  color: #e9f4ea;
  letter-spacing: 10px;
  font-size: 200px;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.industry_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 303px;
  text-align: left;
}

.industry_img {
  display: block;
  max-width: 100%;
  height: auto;
}

.image_block {
  position: relative;
  margin-right: 0;
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.white_box {
  position: absolute;
  bottom: -100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  width: 300px;
  height: 300px;
  background-color: #fff;
}

.industry_text {
  padding-bottom: 34px;
}

.industry_title {
  position: relative;
  display: inline-block;
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 24px;
}

.industry_title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -20px;
  /* 下線の位置 */
  width: 100%;
  height: 5px;
  /* 線の色（例：やさしい緑） */
  border-radius: 2px;
  /* 線の太さ */
  background-color: #10790b;
}

@media screen and (max-width: 480px) {
  .white_box {
    bottom: 5%;
    left: 5%;
    width: 90%;
  }
}
/* コンセプトボタン */
.more_btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 26px;
  border-radius: 100px;
  background-color: #10790b;
  color: #fff;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.more_btn .arrow {
  display: inline-block;
  margin-left: 8px;
  font-weight: bold;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.more_btn:hover {
  background-color: #169e0e;
}

.more_btn:hover .arrow {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}

.instagram_img {
  position: absolute;
  left: 0;
  margin-top: 10px;
}

/* ここからインスタ */
.instagram_section {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 191px;
  width: 100%;
  background-color: #00aa3a;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.instagram_container {
  position: relative;
  z-index: 0;
  margin: 0 auto;
  width: 100%;
}

.instagram_bg {
  display: block;
  max-width: 100%;
  height: auto;
  text-align: end;
}

.instagram_main {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 128px;
  padding-top: 116px;
  text-align: start;
}

.instagram_title {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}

/* インスタボタン */
.instagram_btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 26px;
  border-radius: 100px;
  background-color: #fff;
  color: #10790b;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.instagram_btn .arrow {
  display: inline-block;
  margin-left: 8px;
  font-weight: bold;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.instagram_btn:hover {
  background-color: #169e0e;
  color: #fff;
}

.instagram_btn:hover .arrow {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}

/* インスタフィード */
.instagram_posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 30px;
  width: 100%;
}

.embed {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.embed:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
/*# sourceMappingURL=style.css.map */